body{
    background-color: rgb(0, 0, 0);
}

h1{
    font-size: 80px;
    color: rgb(165, 165, 165);
    font-family: inter,sans-serif;
}

h2{
    color: rgb(165, 165, 165);
    font-family: inter,sans-serif;
    font-size: 20px;
}

main{
    text-align: center;
}
.tabuleiro div div{
    background-color: gray;
    width: 130px;
    height: 130px;
    margin: 5px;
    border: 5px solid rgb(165, 165, 165);
    border-radius: 20px;
    font-size: 100px;
    cursor: pointer;
}

img{
    width: 130px;
    height: 130px;
}

.linha{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.caua #btnreiniciar{
    background-color: rgb(165, 165, 165);
    color: rgb(0, 0, 0);
    padding: 5px 8px;
    font-size: 36px;
    border:5px solid rgb(165, 165, 165);
}

hr{
    border-color: rgb(165, 165, 165); 
    width: 800px;
   }

.segura{
    width: 550px;
    height: 550px;
}

.posicao{
    margin-left: 1000px;
    margin-top: -680px;
}